@import "../../app.scss";

.sub-categories {
  padding: 0px;
  margin-top: 70px;
  margin-bottom: 60px;
  padding: 1rem;
  .sub-categories-list {
    margin-top: 1.5rem;
  }
  .sub-category-products {
    margin-top: 1.5rem;
  }
}
