@import "../../app.scss";

.offers-sub-category {
  padding: 1rem;
  .categories-card-container-div {
    margin-top: 70px;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width:1500px) {
      margin:70px auto;
      margin-bottom: 0px;
    }
    .categories-card-div{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .category-discount-cards{
      display: flex;
      flex-direction: column;
      gap: 18px;
      .offer-content-card{
        width: 100%;
      }
    }
    .all-discounts-cards-list-popup {
      position: fixed;
      z-index: 99999999;
      width: 100%;
      left: 0px;
      padding: 1rem;
      top: 30%;
      bottom: 0;
      background-color: $white-color;
      box-shadow: rgba(99, 98, 98, 0.1) 0px -5px 5px -5px;
      overflow-y: scroll;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .cancel-icon-card {
        position: fixed;
        top: 30%;
        height: 50px;
        left: 0px;
        display: flex;
        padding: 1rem;
        justify-content: flex-end;
        background-color: $white-color;
        width: 100%;
        right: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        img {
          height: 22px;
          width: 22px;
          cursor: pointer;
        }
      }
      .existing-discounts {
        margin-top: 2.5rem;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .box {
          height: 150px;
          background-color: $border;
        }
      }
    }
    .categories-card {
      padding: 0rem;
    }
  }
}
