@import "../../../app.scss";

.user-location-select{
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999;
    .location-popup-content{
        width: 700px;
        max-width: 90%;
        background-color: $white-color;
        padding: 14px;
        border-radius: 8px;
        height: 600px;
        max-height: 80vh;
        .header-card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cancel-icon{
                right: 5px;
                top: 5px;
                background-color: transparent;
                 height: 24px;
            }
        }
    }
}