@import "../../../app.scss";

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: $secondary-color;
  }
  .category-items {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    .single-category {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100px;
      cursor: pointer;
      #active-category {
        background-color: #ffd9c0;
      }
      #active-category-name {
        color: $app-primary-color;
      }
      .category-image {
        height: 100px;
        width: 100px;
        border: 2px solid $border;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        img {
          height: 84px;
          width: 84px;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        color: #000;
      }
    }
  }
}
