.product-section{
    display: flex;
    flex-direction: column;
    width: 100%;
  

    .loader{
        min-height: 100px;
        display: flex;
        justify-content: center;
        justify-content: center;
    }
    .category-heading{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 8px;
        h3{
            font-size: 16px;
            @media (max-width: 700px) {
                font-size: 15px ;
            }
        }
    }

    .horizontal-scroll{
        display: flex;
        gap: 10px;
          overflow-x: scroll;
          .end-message {
      flex: 0 0 auto;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      font-size: 0.9rem;
      padding: 0 10px;
      text-align: center;

      @media (max-width: 768px) {
        width: 120px;
        font-size: 0.8rem;
      }
    }
     .homeSingle-product {
         min-width: 190px;
    max-width: 190px;

      }
    }
    
      .vertical-scroll {
        display: flex;
    row-gap: 10px;
    column-gap: 10px;
      flex-wrap: wrap;
         @media (max-width:1600px) {
           display: grid;
        grid-template-columns: repeat(7,1fr);
      }
      @media (max-width:1530px) {
           display: grid;
        grid-template-columns: repeat(6,1fr);
      }
       @media (max-width:1220px) {
           display: grid;
        grid-template-columns: repeat(5,1fr);
      }
             @media (max-width:930px) {
           display: grid;
        grid-template-columns: repeat(4,1fr);
      }
           @media (max-width:690px) {
           display: grid;
        grid-template-columns: repeat(3,1fr);
      }
      @media (max-width:500px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      .homeSingle-product {
        max-width: unset;
        min-width: unset;
      }
      }
}

