@import "../../../app.scss";

.otp-container {
  padding: 20px 16px;
  height: 100vh;
  background: linear-gradient(to top, #FFF0E7, #FFD9C0);
  @include flex-center(row, center, center);
  @media (min-width: 1000px) {
    @include flex-center(row, flex-start, flex-start);
    padding: 0px;
  }
  .otp-card-container {
    @media (min-width: 1000px) {
      height: 100%;
      width: 50%;
      background: linear-gradient(to top, #FFF0E7, #FFD9C0);
      @include flex-center(row, center, center);
    }
    .otp-card {
      width: 100%;
      min-width: 380px;
      max-width: 400px;
      box-shadow: 0px 4px 8px #FFF0E7, 0px 8px 16px #FFD9C0;
      padding: 28.5px;
      border-radius: 8px;
      height: auto;
      background-color: $white-color;
      @include flex-center(column, "", "");
      gap: 20px;
      @media (min-width: 1000px) {
        width: 450px;
        max-width: 500px;
        flex-shrink: 0;
      }
      .auth-user {
        width: 88px;
        height: 156px;
        margin: auto;
      }
      .timer-card {
        gap: 24px;
        @include flex-center(column, "", "");
        .timer-text {
          @include flex-center(row, space-between, center);
          .time {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: $app-second-color;
          }
          .resend {
            font-size: 12px;
            font-weight: 600;
            line-height: 14.09px;
            color: $app-second-color;
            cursor: pointer;
          }
        }
        .action-card {
          button {
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            line-height: 16.44px;
            color: $white-color;
            height: 40px;
            letter-spacing: 0.5px;
            border-radius: 4px;
          }
          .active-submit {
            background-color: $app-primary-color;
          }
        }
      }
      .otp-input-container {
        display: flex;
        justify-content: center;
        gap: 6px;
        .otp-input {
          border: 2px solid $app-second-color;
          width: 40px;
          height: 40px;
          font-size: 16px;
          text-align: center;
          color: $app-second-color;
          padding: 0.5rem;
          border-radius: 5px;
          background-color: $white-color;
          transition: border-color 0.2s;

          &:focus {
            outline: none;
            border: 3px solid $app-primary-color;
          }
        }
        // .shake {
        //   animation: shake 0.3s;
        // }
        @keyframes shake {
          0%,
          100% {
            transform: translateX(0);
          }
          20%,
          60% {
            transform: translateX(-10px);
          }
          40%,
          80% {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
