@import "../../app.scss";

.wish-list-heading-card {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 70px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px;
  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $secondary-color;
  }
  img{
    cursor: pointer;
  }
}

.wishlist {
  padding: 1rem;
  margin-bottom: 60px;
  .wishlist-card-container {
    max-width: 1500px;
    margin: 0px auto;
    min-height: calc(100vh - 150px);
    background-color: $white-color;
    border-radius: 8px;
  
   
       .products-list {
        display: flex;
    row-gap: 10px;
    column-gap: 10px;
      flex-wrap: wrap;
         @media (max-width:1600px) {
           display: grid;
        grid-template-columns: repeat(7,1fr);
      }
      @media (max-width:1530px) {
           display: grid;
        grid-template-columns: repeat(6,1fr);
      }
       @media (max-width:1220px) {
           display: grid;
        grid-template-columns: repeat(5,1fr);
      }
             @media (max-width:930px) {
           display: grid;
        grid-template-columns: repeat(4,1fr);
      }
           @media (max-width:690px) {
           display: grid;
        grid-template-columns: repeat(3,1fr);
      }
      @media (max-width:500px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      

    }
  }
}
