@import "../../../app.scss";

.yes-no-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999;
  .yes-no-popup-content {
    height: 160px;
    width: 300px;
    background-color: $white-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 18px;
      padding: 16px;
      text-align: center;
      line-height: 100%;
      font-weight: 400;
    }
    .yes-no-btns{
        display: flex;
        width: 100%;
        gap: 20px;
        padding: 0px 20px;
        button {
            display: block;
            flex-grow: 1;
            padding: 10px 0px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 400;
            color: $white-color;
            &:first-child {
              background-color: $app-primary-color;
            }
            &:last-child {
              background-color: $app-second-color;
            }
          }
    }
  }
}
