@import "../../app.scss";

.offer-content-card {
  height: 170px;
  border-radius: 8px;
  padding: 8px;
  background-color: $border;
  width: 400px;
  flex-shrink: 0;
  display: flex;
  gap: 14px;
  @media (max-width:420px) {
    width: 380px;
    height: 165px;
  }

    @media (max-width:400px) {
    width: 360px;
  
  }
    @media (max-width:380px) {
    width: 340px;
    height: 160px;
  }
    @media (max-width:360px) {
    width: 330px;
    height: 150px;
  }
    @media (max-width:350px) {
    width: 320px;
  }

  .default-image {
    width: 40%;
    flex-shrink: 0;
    height: 100%;
    background-color: $white-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      object-fit:fill;
      border-radius: 4px;
    }
  }
  .offer-details {
    width: 55%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    .action-btns {
      position: absolute;
      right: 0px;
      top: 0px;
      .delete-discount {
        background-color: transparent;
        img {
          height: 20px;
        }
      }
    }
    .shop-name-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-size: 18px;
        font-weight: 500;
      }
      p {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; // Required for ellipsis to work
        height: 14px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $app-second-color;
      }
      h4 {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
