@import "../../app.scss";

.mobile-navbar {
  padding: 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: $white-color;
  top: 0px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px;
  @media (min-width: 900px) {
    display: none;
  }
  .logo-card {
    img {
      width: 48px;
      height: 36px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 8px;
      margin: auto;
      li {
        img {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
.desktop-navbar {
  padding: 16px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: $white-color;
  top: 0px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px;
  @media (max-width: 900px) {
    display: none;
  }
  .logo-card-container {
    display: flex;
    align-items: center;
    gap: 40px;
    .logo-card {
      img {
        width: 48px;
        height: 36px;
      }
    }
  }

  .right-card {
    display: flex;
    gap: 90px;
    .noti-icon {
      width: 20px;
      position: relative;
      img {
        width: 100%;
        cursor: pointer;
      }

      .total-count{
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: rgb(91, 29, 29);
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2px;
        font-weight: 500;
      }

      @keyframes dropFromTop {
        0% {
          transform: translateY(-10%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .notification-slot-active {
        width: 300px;
        min-height: 100px;
        max-height: 400px;
        background-color: rgb(248, 245, 245);
        position: absolute;
        top: 130%;
        right: -50%;
        border-radius: 10px;
        border: 1px solid rgb(210, 200, 200);
        overflow-y: scroll;
        animation: dropFromTop 0.6s ease-out forwards;
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap:10px;
        padding: 10px;
      }

      .notification-slot-deactive {
        display: none;
      }
    }

    .chat-icon{
      width: 50px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      img{
        width: 100%;
      }
    }
    .chat-component-popUp{
      width: 100%;
      height: 100vh;
      position: absolute;
      background-color:transparent;
      right: 0;
      top: 7vh;
    }
    nav {
      display: flex;
      align-items: flex-end;
      ul {
        padding: 0px;
        list-style-type: none;
        display: flex;
        gap: 24px;
        align-items: center;
        margin: auto;
        .active-nav-link {
          border-bottom: 3px solid $app-primary-color;
          color: $app-primary-color;
        }
        li {
          padding-bottom: 4px;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
          color: $app-second-color;
        }
      }
    }
    .profile-card {
      display: flex;
      gap: 24px;
      .become-seller-image {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 2px solid $app-primary-color;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
          color: $app-primary-color;
        }
      }
      .profile-image {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        span {
          color: $app-second-color;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
        }
      }
    }
  }
}
