.home-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;


  .search-filter{
    margin-top: 10px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // align-self: flex-end;
  }

  .hero-section{
    width: 100%;
  }

  .categories-section{
    width: 100%;
  }
  

  .all-products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px ;
    padding-left: 20px;
  
    

    .each-category-container{
      display: flex;
      flex-direction: column;
      gap:10px;

      .category-name-header-card{
        display: flex;
        justify-content: space-between;
      }
    }

    .products-scroll{
      display: flex;
      gap: 10px;
    }
  }
}