.home-container{
  display: flex;
  flex-direction: column;

  .hero-section{
    width: 100%;
  }

  .categories-section{
    width: 100%;
  }

  .all-products{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .each-category-container{
      display: flex;
      flex-direction: column;
      gap:10px;

      .category-name-header-card{
        display: flex;
        justify-content: space-between;
      }
    }

    .products-scroll{
      display: flex;
      gap: 10px;
    }
  }
}