@import "../../app.scss";


.shop-container {
  padding: 16px;
  margin-bottom: 60px;
  min-height: calc(100vh - 60px);
  .search-back-icon {
    height: 70px;
    width: 100%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    gap: 10px;
    @media (min-width: 1500px) {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
    .back-icon {
      height: 22px;
      width: 24px;
      cursor: pointer;
    }
    .search-card {
      flex-grow: 1;
    }
  }
  .categories-list {
    margin-top: 16px;
  }
  .near-shops {
    margin: 16px 0px 50px;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .noShopsFound{
    display: flex;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
