@import "../../../app.scss";

.all-categories {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .see-more-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 600;
      font-size: 18px;
    }
    button {
      background-color: transparent;
      border: 1px solid #ff6600;
      padding: 3px 12px;
      border-radius: 4px;
      font-weight: 300;
      font-size: 14px;
      color: #ff6600;
      letter-spacing: 0.1px;
    }
  }
  .categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
    .single-category {
      height: auto;
      min-width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding: 10px;
      background-color: $border;
      border-radius: 8px;
      flex-grow: 1;
      img {
        height: 60px;
        @media screen and (min-width: 600px) {
          height: 70px;
        }
        @media screen and (min-width: 800px) {
          height: 80px;
        }
        @media screen and (min-width: 1000px) {
          height: 85px;
        }
        @media screen and (min-width: 1200px) {
          height: 90px;
        }
      }
      p {
        font-size: 12px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
