@import "../../app.scss";

.plan-purchase {
  padding: 0px;
  .header-card {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $white-color;
    z-index: 9999;
    height: 80px;
    display: flex;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px;
    align-items: center;
    gap: 20px;
    button {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: $app-second-color;
    }
  }
  .all-plans-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 16px;
    .all-plans {
      display: grid;
      grid-template-columns: 100%;
      gap: 20px;
      @media screen and (min-width: 800px) {
        grid-template-columns: 50% 50%;
      }
      @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
      .each-plan {
        display: flex;
        justify-content: space-between;
        border: 2px solid $border;
        border-radius: 12px;
        position: relative;
        .popular-tag {
          position: absolute;
          background-image: linear-gradient(220deg, #ff6600, #b98bee);
          padding: 2px 10px;
          color: $white-color;
          font-weight: 400;
          border-top-left-radius: 14px;
          border-bottom-right-radius: 14px;
        }
        .left-card {
          padding: 20px 14px;
          display: flex;
          align-items: center;
          gap: 40px;
          .recept-card {
            display: flex;
            gap: 16px;
            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              h3 {
                font-size: 24px;
                color: $app-primary-color;
                font-weight: 500;
              }
              p {
                margin-top: -6px;
                font-size: 16px;
                color: $app-second-color;
              }
            }
          }
        }
        .right-card {
          cursor: pointer;
          background-color: $app-primary-color;
          font-size: 20px;
          font-weight: 500;
          color: $white-color;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 20px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
}
