@import "../../../app.scss";

.global-filters {
  padding: 0px;
  height: auto;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 99999;
  border: 2px solid #e0e0e0;
  background-color: $white-color;
  border-radius: 20px;
  border-bottom: none;
  padding: 10px;
  max-height: 75vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 900px) {
    max-height: 100vh;
    top: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
  }
  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #858585;
  }
  .cancel-icon {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99999;
    @media screen and (min-width: 900) {
      display: none;
    }
    img {
      cursor: pointer;
       height: 24px;
    }
  }
  .content-card {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    .cancel-icon2 {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 10px;
      right: 10px;
      @media screen and (max-width: 900px) {
        display: none;
      }
      img {
        cursor: pointer;
         height: 24px;
      }
    }
    @media screen and (min-width: 900px) {
      width: 400px;
      background-color: $white-color;
      border-radius: 8px;
      max-height: 90vh;
      overflow-y: auto;
      padding: 40px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .location-card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      div {
        display: flex;
        border: 2px solid #f2f2f2;
        padding: 9px;
        gap: 8px;
        align-items: center;
        border-radius: 8px;
        p {
          width: 100%;
          font-weight: 400;
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0px;
          color: #cac4d0;
        }
      }
    }
    .verification-card {
      display: grid;
      gap: 14px;
      grid-template-columns: repeat(2, 1fr);
    }
    .verification-filter {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .filter-card {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .discounts-filter {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .filter-card {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .ranges-filter {
      display: flex;
      align-items: center;
      gap: 8px;
      button {
        background: $app-primary-color;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
        border-radius: 4px;
        height: 30px;
        width: 90px;
      }
      .inactive-btn {
        background: transparent;
        border: 2px solid #e0e0e0;
        color: #e0e0e0;
      }
      .active-btn {
        background-color: $app-primary-color;
        color: $white-color;
      }
    }
    .apply-btn-card {
      button {
        margin: auto;
        display: block;
        background: $app-primary-color;
        color: $white-color;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        height: 40px;
        width: 100px;
        border-radius: 8px;
      }
    }
  }
}
