@import "../../app.scss";

.bottom-navbar {
  padding: 0px;
  height: 60px;
  border-top: 2px solid $border;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-shadow: rgba(99, 98, 98, 0.1) 0px -5px 5px -5px;
  z-index: 999;
  @media (min-width: 768px) {
    display: none;
  }
  div {
    height: 100%;
    flex: 1;
    gap: 2px;
    @include flex-center(column, center, center);
    img {
      height: 24px;
    }
    p {
      font-size: 10px;
      letter-spacing: 0.8px;
      color: $app-second-color;
      line-height: 15px;
      font-weight: 600;
    }
    .active-text {
      color: $app-primary-color;
    }
  }
}
