@import "../../../app.scss";

.login-page {
  padding: 20px 16px;
  height: 100vh;
  background: linear-gradient(to top, #FFF0E7, #FFD9C0);
  @include flex-center(row, center, center);
  @media (min-width: 1000px) {
    @include flex-center(row, flex-start, flex-start);
    padding: 0px;
  }
  .login-card-container {
    @media (min-width: 1000px) {
      height: 100%;
      width: 50%;
      background: linear-gradient(to top, #FFF0E7, #FFD9C0);
      @include flex-center(row, center, center);
    }
    .login-card {
      width: 100%;
      min-width: 380px;
      max-width: 400px;
      box-shadow: 0px 4px 8px #FFF0E7, 0px 8px 16px #FFD9C0;
      padding: 28.5px;
      border-radius: 8px;
      height: auto;
      background-color: $white-color;
      @include flex-center(column, "", "");
      gap: 20px;
      @media (min-width: 1000px) {
        width: 450px;
        max-width: 500px;
        flex-shrink: 0;
      }
      .fields-card {
        @include flex-center(column, "", "");
        gap: 24px;
        .forgot-text {
          color: $app-second-color;
          font-size: 12px;
          font-weight: 600;
          line-height: 14.09px;
          text-align: right;
          margin-top: -15px;
          cursor: pointer;
          @media (min-width: 768px) {
            font-size: 13px;
          }
          @media (min-width: 1020px) {
            font-size: 14px;
          }
        }
        .action-card {
          button {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.44px;
            color: $white-color;
            height: 40px;
            letter-spacing: 0.5px;
            background-color: $app-primary-color;
            border-radius: 4px;
            @media (min-width: 768px) {
              font-size: 15px;
            }
            @media (min-width: 1020px) {
              font-size: 16px;
            }
          }
          .google-signup {
            color: $app-second-color;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.09px;
            text-align: center;
            background-color: $white-color;
            border: 2px solid $border;
            border-radius: 8px;
            gap: 8px;
            @include flex-center(row, center, center);
            @media (min-width: 768px) {
              font-size: 13px;
            }
            @media (min-width: 1020px) {
              font-size: 14px;
            }
          }
          .or-card {
            height: 40px;
            font-size: 10px;
            font-weight: 500;
            line-height: 11.74px;
            color: $app-second-color;
            @include flex-center(row, center, center);
          }
        }
        .account-question {
          @include flex-center(row, space-between, center);
          p {
            font-size: 12px;
            font-weight: 400;
            line-height: 14.09px;
            text-align: left;
            color: $app-second-color;
          }
          span {
            font-size: 12px;
            font-weight: 600;
            line-height: 14.09px;
            text-align: right;
            color: $app-second-color;
            cursor: pointer;
          }
        }
        .fields-container {
          @include flex-center(column, "", "");
          gap: 10px;
          .input-single-card,
          .name-card {
            @include flex-center(column, "", "");
            gap: 7px;
          }
          label {
            color: $app-second-color;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.09px;
            @media (min-width: 768px) {
              font-size: 13px;
            }
            @media (min-width: 1020px) {
              font-size: 14px;
            }
          }
          .name-card {
            div {
              @include flex-center(row, "", "");
              gap: 16px;
              div {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
