@import "../../app.scss";

// .offer-edit {
//   margin-top: 70px;
//   .offer-edit-item {
//     padding: 1rem;
//     @media (min-width: 768px) {
//       display: flex;
//       gap: 50px;
//     }
//     .product-left {
//       width: 100%;
//       margin-top: 22px;
//       @media (min-width: 768px) {
//        width: 50%;
//       }
//       h3 {
//         color: $secondary-color;
//         font-size: 14px;
//         font-weight: 600;
//         line-height: 20.57px;
//         letter-spacing: 0.5px;
//         margin-bottom: 8px;
//       }
//       .default-discount-card {
//         padding: 10px;
//         width: 100%;
//         height: 200px;
//         border-radius: 8px;
//         background-color: $white-color;
//         display: flex;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//         gap: 15px;
//         @media (min-width: 1000px) {
//           width: 80%;
//          }
//         .image-card {
//           height: 100%;
//           width: 40%;
//           .default-image-card {
//             height: 100%;
//             width: 100%;
//             background-color: $white-color;
//             border-radius: 8px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             cursor: pointer;
//             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//             h1{
//               font-weight: 500;
//               font-size: 30px;
//               color: $border;
//             }
//           }
//           .product-image{
//             height: 100%;
//             width: 100%;
//             border-radius: 8px;
//           }
//         }
//         .product-discount-details{
//           flex-grow: 1;
//           height: 100%;
//           background-color: transparent;
//           .edit-icon-card{
//             display: flex;
//             justify-content: flex-end;
//             button{
//               background-color: $app-primary-color;
//               padding:5px 8px;
//               border-radius: 4px;
//             }
//           }
//         }
//       }
//       .color-picker{
//         height: 100px;
//         width: 100px;
//         margin-top: 30px;
//         input{
//           height: 100px;
//           width: 100px;
//         }
//       }
//     }
//   }
// }

.offer-edit-page {
  .label-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: $app-second-color;
  }
  .header-card {
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px -5px;
    background-color: $white-color;
    z-index: 999;
    button {
      background-color: transparent;
      cursor: pointer;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $app-second-color;
    }
  }
  .offer-edit-content {
    margin-top: 70px;
    padding: 16px;
    display: flex;
      
    gap: 24px;
    @media (max-width:950px) {
      flex-direction: column;
    }
 
    .offer-edit-card{
      display: flex;
      flex-direction: column;
      gap:16px;
      width: 50%;
       @media (max-width:900px) {
       width: 100%;
    }
    .offer-image-card {
      border: 2px solid $border;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      gap: 16px;
      width: 440px;
      height: 220px;
      align-self: center;
      align-items: center;
      @media (max-width:450px) {
          width: 400px;
      height: 200px;
      padding: 10px;
      }
        @media (max-width:410px) {
          width: 360px;
      height: 180px;
      padding: 10px;
      }
      .image-default-card {
        height: 130px;
        width: 130px;
        flex-shrink: 0;
        position: relative;
        .default-image {
          height: 100%;
          width: 100%;
          border-radius: 8px;
          img {
            border-radius: 8px;
            height: 100%;
            width: 100%;
          }
        }
        .edit-icon {
          position: absolute;
          top: 2px;
          right: 10px;
          background-color: transparent;
          padding: 0px;
        }
      }
    }
    .select-colors-card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .select-bg-color {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
    .input-fields {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 50%;
      @media (max-width:900px) {
        width: 100%;
      }
      .single-drop-down {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .date-pickers-card {
          display: flex;
          align-items: center;
          gap: 20px;
          @media (max-width:550px) {
            flex-direction: column;
            gap: 16px;
          }
        }
      }
      .sub-drop-down{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
            @media (max-width:550px) {
            grid-template-columns: repeat(1,1fr);
            gap: 16px;
          }
        
      }
    }
    .discount-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      flex-grow: 1;
      position: relative;

      .edit-icon {
        position: absolute;
        top: 0px;
        background-color: transparent;
        right: 10px;
      }
      .second-section,
      .first-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
            @media (max-width:410px) {
      width: 88%;
      
    }
        
        .shop-name {
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $app-second-color;
        }
        .location-text {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; // Required for ellipsis to work
          height: 14px;
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $app-second-color;
        }
        
        input {
          outline: none;
          border: 1px solid $white-color;
          border-radius: 4px;
          padding: 4px 10px;
          resize: none;
          background-color: transparent;
          color: $app-primary-color;
            &::placeholder {
    color: white;
    opacity: 0.9; 

  }
      @media (max-width:410px) {
      width: 100%;
      
    }
        }
      }
    }
    .price-details-card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .pay-btn {
        display: flex;
        justify-content: center;
        button {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $white-color;
          padding: 10px 18px;
          background-color: $app-primary-color;
          border-radius: 8px;
        }
      }
    }
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  padding: 0 8px;

  &:hover {
    color: #333;
  }
}
}
