@import "../../../app.scss";

.product-details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  padding: 30px;
  .product-content {
    padding: 20px;
    background-color: $white-color;
    width: 100%;
    border-radius: 8px;
    max-width: 1300px;
    position: relative;
    .cancel-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 999999;
       height: 24px;
    }
    .product-details-card {
      max-height: 90vh;
      min-height: 90vh;
      overflow: auto;
      display: flex;
      @media screen and (max-width: 900px) {
        align-items: center;
      }
      gap: 100px;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 40px;
      }
      &::-webkit-scrollbar {
        display: none !important;
      }
      .left-div {
        width: 50%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 900px) {
          width: 100%;
          max-width: 100%;
        }
        .main-image {
          background-color: $border;
          height: 300px;
          width: 100%;
          border-radius: 8px;
          img{
            height: 100%;
            width: 100%;
          }
        }
        .sub-images-card {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 20px;
          .sub-image {
            height: 140px;
            width: 120px;
            background-color: $border;
            border-radius: 4px;
            flex-grow: 1;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            @media screen and (max-width: 1100px) {
              height: 120px;
            }
            @media screen and (max-width: 900px) {
              height: 90px;
            }
            @media screen and (max-width: 600px) {
              height: 80px;
            }
          }
        }
      }
      .right-div {
        width: 50%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        @media screen and (max-width: 900px) {
          align-items: flex-start;
          width: 100%;
        }
        .show-product-details-card {
          min-height: 150px;
          @include flex-center(column, "", "");
          gap: 0.5rem;
          .div-one {
            @include flex-center(row, "", center);
            gap: 8px;
            width: 100%;
            .offer-price {
              font-size: 18px;
              font-weight: 700;
              line-height: 21.13px;
              color: $secondary-color;
            }
            .real-price {
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              color: $light-grey;
              text-decoration: line-through;
            }
            .offer-percentage {
              font-size: 14px;
              font-weight: 600;
              line-height: 17.07px;
              color: $offer-color;
            }
          }
          .div-two {
            @include flex-center(column, "", "");
            gap: 8px;
            h4 {
              font-size: 18px;
              font-weight: 500;
              color: $headingTypeOne;
            }
            p {
              font-size: 14px;
              font-weight: 400;
              color: #858585;
            }
            .colors-div {
              display: flex;
              flex-direction: column;
              gap: 8px;
              margin-top: 4px;
              p {
                line-height: 16px;
                font-size: 14px;
                font-weight: 500;
                color: $app-second-color;
              }
              ul {
                display: flex;
                gap: 4px;
                li {
                  list-style-type: none;
                  height: 20px;
                  width: 20px;
                  border-radius: 4px;
                }
              }
            }
            .product-actions {
              width: 100%;
              display: flex;
              gap: 20px;
              margin-top: 20px;
              button {
                display: block;
                flex-grow: 1;
                flex-shrink: 0;
                padding: 10px 0px;
                border-radius: 4px;
                font-size: 16px;
                font-weight: 500;
                color: $white-color;
                width: 200px;
                &:first-child {
                  background-color: $app-primary-color;
                }
                &:last-child {
                  background-color: $app-second-color;
                }
                @media screen and (max-width:800px) {
                  padding: 8px 0px;
                  border-radius: 4px;
                  font-size: 12px;
                  font-weight: 500;
                  color: $white-color;
                  width: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}
