@import "../../app.scss";

.product-details-container {
 
  margin: auto;
  margin-bottom: 60px;
  
  padding-top: 20px;
  @include flex-center(column, "", "");
  &::-webkit-scrollbar{
    display: none;
  }
  .search-back-icon {
    height: 70px;
    margin-top: 70px;
    width: 100%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 1rem;
    @media (min-width:1500px) {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
    .back-icon {
      height: 22px;
      width: 24px;
      cursor: pointer;
    }
    .search-card {
      flex-grow: 1;
    }
  }
  .content-card {
    padding: 0.6rem;
    .product-details-content {
      @include flex-center(column, "", "");
      gap: 2rem;
      .all-products {
        display: flex;
    row-gap: 18px;
    column-gap: 10px;
      flex-wrap: wrap;
      @media (max-width:420px) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      }
      .sub-categories-list{
        margin: 1rem 0px 1.3rem 0px;
      }
    }
  }
}

.product-details-container::-webkit-scrollbar {
  display: none;
}
