@import "../../app.scss";

.seller-edit-profile {
  max-height: calc(100vh - 70px);
  overflow-y: scroll;
  padding: 1rem;
  margin-top: 70px;
  margin-bottom: 60px;
  @media (min-width: 500px) and (max-width: 768px) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  @media (min-width: 900px) {
    gap: 40px;
  }
  @media (min-width: 1000px) {
    gap: 3%;
  }
  @media (min-width: 1100px) {
    max-width: 1100px;
    margin: 70px auto;
    margin-bottom: 0px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .desktop-left-card {
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .page-header {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: $app-second-color;
    margin-bottom: 16px;
  }
  .profile-image-edit {
    margin-bottom: 1rem;
    display: flex;
    gap: 15px;
    .default-image-card {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      background-color: $border;
      position: relative;
      // img {
      //   position: absolute;
      //   bottom: 5px;
      //   right: 7px;
      // }

      .profilePic {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      #invisible_file_upload {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 9;
      }
    }
    .basic-fields {
      div {
        display: flex;
        flex-direction: column;
        gap: 3px;
        label {
          color: $app-second-color;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          @media screen and (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  .left-card {
    margin-bottom: 1rem;
    .account-public-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $app-second-color;
        margin-bottom: 5px;
      }
    }
    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.3px;
      color: $app-second-color;
    }
  }
  .video-location-section {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .desktop-video-location-section {
    width: 50%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .about-my-business {
    margin-bottom: 1rem;
    h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      color: $app-second-color;
      margin-bottom: 8px;
      @media (min-width: 768px) {
        color: $secondary-color;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .video-div {
      height: 200px;
      width: 100%;
      background-color: $border;
      border-radius: 8px;
    }
  }
  .select-location {
    margin-bottom: 1rem;
    .heading {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      h3 {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: $app-second-color;
      }
    }
    .location-default-image {
      height: 200px;
      width: 100%;
      background-color: $border;
      border-radius: 8px;
    }
  }
  .fields-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .input-single-card {
      p {
        color: $app-primary-color;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
      }
      label {
        margin-bottom: 4px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: $app-second-color;
      }
    }
  }
  .save-btn {
    display: flex;
    justify-content: center;
    button {
      padding: 9px 31px;
      background-color: $app-primary-color;
      font-size: 15px;
      font-weight: 500;
      line-height: 22.5px;
      color: $white-color;
      border-radius: 4px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      @media (min-width: 1020px) {
        font-size: 17px;
      }
    }
  }
}
