@import "../../app.scss";

.heading-carousel{
padding: 20px 0px 20px 0px;
margin: auto;
width: 50%;
@media (max-width: 700px) {
  width: 60%;
}
@media (max-width: 600px) {
  width: 70%;
}
@media (max-width: 500px) {
  width: 80%;
}
@media (max-width: 400px) {
  width: 90%;
}
}

